// ============================================
// TALK META
// ============================================

// Talk meta spacing
$space-talk-meta-gap: $space-separator;

// Talk meta typography
$line-talk-meta-height: $line-height-tight;

// Talk meta colors
$color-talk-meta-text: $color-text-primary;
$color-talk-meta-hover: $color-text-accent;
$color-talk-meta-underline: $color-link-underline;
$color-talk-meta-underline-hover: $color-text-accent;
$color-talk-meta-separator: $color-border-primary;

// Talk meta sizes
$size-talk-meta-separator: $size-divider-dot;
$talk-meta-underline-offset: $link-underline-offset;

// Talk meta motion
$motion-talk-meta-duration: $motion-duration-normal;
$motion-talk-meta-easing: $motion-easing-normal;

.talk-meta {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $space-talk-meta-gap;
  line-height: $line-talk-meta-height;

  &__date,
  &__slides,
  &__event,
  &__pdf {
    display: inline;
  }

  &__separator {
  width: $size-talk-meta-separator;
  height: $size-talk-meta-separator;
  border-radius: 50%;
  background-color: $color-talk-meta-separator;
    display: inline-block;
    vertical-align: middle;
  }

  &__event {
    &[href] {
      color: $color-talk-meta-text;
      text-decoration: underline;
      text-decoration-color: $color-talk-meta-underline;
      text-underline-offset: $talk-meta-underline-offset;
      transition: color $motion-talk-meta-duration $motion-talk-meta-easing,
                  text-decoration-color $motion-talk-meta-duration $motion-talk-meta-easing;

      &:hover {
        color: $color-talk-meta-hover;
        text-decoration-color: $color-talk-meta-underline-hover;
      }
    }
  }

  &__pdf {
    color: $color-talk-meta-text;
    text-decoration: underline;
    text-decoration-color: $color-talk-meta-underline;
    text-underline-offset: $talk-meta-underline-offset;
    transition: color $motion-talk-meta-duration $motion-talk-meta-easing,
                text-decoration-color $motion-talk-meta-duration $motion-talk-meta-easing;

    &:hover {
      color: $color-talk-meta-hover;
      text-decoration-color: $color-talk-meta-underline-hover;
    }
  }
}
