@import 'config';
@import 'header';
@import 'footer';
@import 'hero';
@import 'posts-list';
@import 'post';

html {
  background-color: $color-background-primary;
  height: 100%;
}

body {
  background-color: $color-background-primary;
  color: $color-text-primary;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
}

a {
  color: $color-text-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  color: $color-text-primary;
}

h1 {
  font-size: $font-size-3xl;
}

h2 {
  font-size: $font-size-2xl;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-md;
}

h3 {
  font-size: $font-size-lg;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-md;
}

h4 {
  font-size: $font-size-md;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-md;
}

h5 {
  font-size: $font-size-sm;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-md;
}

h6 {
  font-size: $font-size-xs;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: $spacing-lg;
}

i {
  text-decoration: none;
}

main {
  flex: 1;
}

main .container {
  padding-bottom: 0;
}
